<div class="modal fade" id="getCodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modal">
            <div class="modal-body">
                <p>Please Name A Burger</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<h1>Eat Da Burger</h1>
<img src="assets/img/burger.png" height="20%" width="20%">

<main class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Burgers To Eat</h4>
            <ul>
                {{#each burgers_table}}
                {{#unless devoured}}
                <li>{{this.burger_name}}<button data-id="{{this.id}}"
                        class="btn btn-warning btn-sm devour">Devour it!</button></li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Burgers Eaten</h4>
            {{#each burgers_table}}
            {{#if devoured}}
            <li class="devoured">{{this.burger_name}}</li>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="centered">
        <hr>
        <h4>Add a burger:</h4>
        <form id="addBurger">
            <div class="form-group">
                <input type="text" class="form-control" id="burgerName" name="burger_name">
            </div>
            <button type="submit" id="submit" class="btn btn-warning">Add Burger</button>
        </form>
    </div>
</main>